{
  "printWidth": 140,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": "packages/ui-*/**/*",
      "options": {
        "printWidth": 110
      }
    }
  ]
}
